{% block body %}
{% load rest_framework %}
{% load static i18n %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    
    <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/navbar.css' %}">

    <title>Hello, world!</title>
  </head>
  <body>
    <header class="header-area overlay">
    <nav class="navbar navbar-expand-md navbar-dark">
		<div class="container">
			<a href="#" class="navbar-brand">Bootdey.com</a>
			
			<button type="button" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#main-nav">
				<span class="menu-icon-bar"></span>
				<span class="menu-icon-bar"></span>
				<span class="menu-icon-bar"></span>
			</button>
			
			<div id="main-nav" class="collapse navbar-collapse">
				<ul class="navbar-nav ml-auto">
					<li><a href="#" class="nav-item nav-link active">Home</a></li>
					<li><a href="#" class="nav-item nav-link">About Us</a></li>
					<li class="dropdown">
						<a href="#" class="nav-item nav-link" data-toggle="dropdown">Services</a>
						<div class="dropdown-menu">
							<a href="#" class="dropdown-item">Dropdown Item 1</a>
							<a href="#" class="dropdown-item">Dropdown Item 2</a>
							<a href="#" class="dropdown-item">Dropdown Item 3</a>
						</div>
					</li>
					<li class="dropdown">
						<a href="#" class="nav-item nav-link" data-toggle="dropdown">Portfolio</a>
						<div class="dropdown-menu">
							<a href="#" class="dropdown-item">Dropdown Item 1</a>
							<a href="#" class="dropdown-item">Dropdown Item 2</a>
							<a href="#" class="dropdown-item">Dropdown Item 3</a>
							<a href="#" class="dropdown-item">Dropdown Item 4</a>
							<a href="#" class="dropdown-item">Dropdown Item 5</a>
						</div>
					</li>
					<li><a href="#" class="nav-item nav-link">Contact</a></li>
				</ul>
			</div>
		</div>
	</nav>
	
	<div class="banner">
		<div class="container">
			{% comment %} <h1>Bootstrap 4 Navbar</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec elit ex. Etiam elementum lectus et tempor molestie.</p>
			<a href="#content" class="button button-primary">Learn More</a> {% endcomment %}
		</div>
	</div>
</header>


    <div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Kitaplar</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <ul>
            {% for kitap in queryset %}
                <a href="{% url 'Books:kitap-detay' id=kitap.id %}" class="list-group-item list-group-item-action list-group-item-light"><li>{{ kitap.title }}</li></a>
                {% comment %} <li>{{ kitap.total_pages }}</li>
                <li>{{ kitap.rating }}</li>
                <li>{{ kitap.isbn }}</li>
                <li>{{ kitap.published_date }}</li> {% endcomment %}
            {% endfor %}
            </ul>
        </div>
        <div class="col-md-4">
            <h3>ALAN2</h3>
        </div>
        <div class="col-md-4">
            <h3>ALAN3</h3>
        </div>
    </div>
    </div>
    </br>
    <div class="container">
    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo">Yeni Kitap Ekle</button>
    
    <div class="collapse" id="demo">
    <form action="" method="POST">
    {% csrf_token %}
    <div class="row">
        <div class="col-md-8">
        </br>
        {% render_field serializer.title style=style%}
        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-7">
                    {% render_field serializer.author_id style=style%}
                </div>
                <div class="col-md-5">
                    <button type="button" class="btn btn-outline-dark" data-toggle="collapse" data-target="#demo2" style="margin-top: 31px;">Yeni Yazar Ekle</button>
                </div>
            </div>
        </div>
    </div>
    <div class="collapse card border-secondary mb-3" id="demo2">
        <div class="card-header">Yeni Yazar Bilgileri</div>
            <div class="card-body text-secondary">
                <h5 class="card-title">Secondary card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">{% render_field serializer.first_name style=style%}</div>
                <div class="col-md-12">{% render_field serializer.middle_name style=style%}</div>
                <div class="col-md-12">{% render_field serializer.last_name style=style%}</div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
        {% render_field serializer.isbn style=style%}
        </div>
        <div class="col-md-4">
        {% render_field serializer.total_pages style=style%}
        </div>
        <div class="col-md-4">
        {% render_field serializer.genre_id style=style%}
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
        {% render_field serializer.publisher_id style=style%}
        </div>
        <div class="col-md-5">
        {% render_field serializer.published_date style=style%}
        </div>
        <div class="col-md-2">
        {% render_field serializer.rating style=style%}
        </div>
    </div>
    
        <button type="submit" class="btn btn-outline-warning" value="Save">KAYDET</button>
        {% comment %} <a href="{% url 'Books:kitaplar' %}" class="btn btn-info btn-md" type="submit" value='Save'>
            <i class="fas fa-close">|||</i>&nbsp;Kitap Ekle
        </a> {% endcomment %}
        {% comment %} <input type="submit" value="Save"> {% endcomment %}
    </form>
    </div>
    </div>
    

    <script src="{% static 'js/navbar.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    
  </body>
</html>
{% endblock body %}