{% block body %}
{% load rest_framework %}
{% load static i18n %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    
    <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/searchbox.css' %}">
    <script src="https://kit.fontawesome.com/3ffce0661a.js" crossorigin="anonymous"></script>

    <title>Hello, world!</title>
  </head>
  <body>
    <header class="header-area overlay">
    <nav class="navbar navbar-expand-md navbar-dark">
		<div class="container">
			<a href="#" class="navbar-brand">The Story of The Books.com</a>
			
			<button type="button" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#main-nav">
				<span class="menu-icon-bar"></span>
				<span class="menu-icon-bar"></span>
				<span class="menu-icon-bar"></span>
			</button>
			<!-- Search form -->
            <div class="input-group md-form form-sm form-2 pl-0">
            <input class="form-control my-0 py-1 red-border" type="text" placeholder="Kitap, yazar.." aria-label="Search" name="key" value="key">
            <div class="input-group-append">
                <span class="input-group-text red lighten-3" id="basic-text1"><i class="fas fa-search text-grey"
                    aria-hidden="true"></i></span>
            </div>
            </div>
			<div id="main-nav" class="collapse navbar-collapse">
				<ul class="navbar-nav ml-auto">
					<li><a href="#" class="nav-item nav-link active">Anasayfa</a></li>
					<li><a href="#" class="nav-item nav-link">Hakkımızda</a></li>
					<li class="dropdown">
						<a href="#" class="nav-item nav-link" data-toggle="dropdown">Kitaplar</a>
						<div class="dropdown-menu">
							<a href="#" class="dropdown-item">Dropdown Item 1</a>
							<a href="#" class="dropdown-item">Dropdown Item 2</a>
							<a href="#" class="dropdown-item">Dropdown Item 3</a>
						</div>
					</li>
				
					<li><a href="#" class="nav-item nav-link">İletişim</a></li>
				</ul>
			</div>
		</div>
	</nav>
	
	<div class="banner">
		<div class="container">
			{% comment %} <h1>Bootstrap 4 Navbar</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec elit ex. Etiam elementum lectus et tempor molestie.</p>
			<a href="#content" class="button button-primary">Learn More</a> {% endcomment %}
		</div>
	</div>
</header>


    <div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Kitaplar</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <ul>
            {% for kitap in queryset %}
                <a href="{% url 'Books:kitap-generic' id=kitap.id %}" class="list-group-item list-group-item-action list-group-item-light"><li>{{ kitap.title }}</li></a>
                {% comment %} <li>{{ kitap.total_pages }}</li>
                <li>{{ kitap.rating }}</li>
                <li>{{ kitap.isbn }}</li>
                <li>{{ kitap.published_date }}</li> {% endcomment %}
            {% endfor %}
            </ul>
        </div>
        <div class="col-md-4">
            <h3>ALAN2</h3>
        </div>
        <div class="col-md-4">
            <h3>ALAN3</h3>
        </div>
    </div>
    </div>
    </br>
    <div class="container">
    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo">Yeni Kitap Ekle</button>
    
    <div class="collapse" id="demo">
    <form action="" method="POST">
    {% csrf_token %}
    <div class="row">
        <div class="col-md-7">
        </br>
        {% render_field serializer.title style=style%}
        </div>
        <div class="col-md-5">
            <div class="row">
                <div class="col-md-7">
                    {% render_field serializer.author_id style=style%}
                </div>
                <div class="col-md-5">
                    <button type="button" class="btn btn-outline-dark" data-toggle="collapse" data-target="#demo2" style="margin-top: 31px; float: right;">Yeni Yazar Ekle</button>
                </div>
            </div>
        </div>
    </div>
    <div class="collapse card border-secondary mb-3" id="demo2">
        <div class="card-header">Yeni Yazar Bilgileri</div>
            <div class="card-body text-secondary">
                <h5 class="card-title">Secondary card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">{% render_field serializer.first_name style=style%}</div>
                <div class="col-md-12">{% render_field serializer.middle_name style=style%}</div>
                <div class="col-md-12">{% render_field serializer.last_name style=style%}</div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
        {% render_field serializer.isbn style=style%}
        </div>
        <div class="col-md-4">
        {% render_field serializer.total_pages style=style%}
        </div>
        <div class="col-md-4">
        {% render_field serializer.genre_id style=style%}
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
        {% render_field serializer.publisher_id style=style%}
        </div>
        <div class="col-md-5">
        {% render_field serializer.published_date style=style%}
        </div>
        <div class="col-md-2">
        {% render_field serializer.rating style=style%}
        </div>
    </div>
    
        <button type="submit" class="btn btn-outline-warning" value="Save">KAYDET</button>
        {% comment %} <a href="{% url 'Books:kitaplar' %}" class="btn btn-info btn-md" type="submit" value='Save'>
            <i class="fas fa-close">|||</i>&nbsp;Kitap Ekle
        </a> {% endcomment %}
        {% comment %} <input type="submit" value="Save"> {% endcomment %}
    </form>
    </div>
    </div>
    

    <script src="{% static 'js/navbar.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    
  </body>
</html>
{% endblock body %}