{% load rest_framework %}
{% block body %}

<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>
<body>
 
<h1>Kitaplar</h1>

<ul>
    {% for kitap in queryset %}
    <a href="{% url 'Books:kitap-detay' id=kitap.id %}"><li>{{ kitap.title }}</li></a>
    <li>{{ kitap.total_pages }}</li>
    <li>{{ kitap.rating }}</li>
    <li>{{ kitap.isbn }}</li>
    <li>{{ kitap.published_date }}</li>
    {% endfor %}
</ul>
<form action="" method="POST">
    {% csrf_token %}
    {% render_form serializer %}
    <input type="submit" value="Save">
</form>

<a href="{% url 'Books:kitaplar' %}" class="btn btn-info btn-md" value='islem'>
    <i class="fas fa-close">|||</i>&nbsp;Kitap Ekle
</a>
{% comment %} <form class="form-horizontal" action="{% url 'Books:kitaplar' %}" method="post" novalidate>
    {% csrf_token %}
    {% render_form serializer %}
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">Sign in</button>
        </div>
    </div>
</form> {% endcomment %}

</body></html>

{% endblock body %}